
body{
background-color: beige;
}

header{
text-align: center;
}

h1 {
    color: blue;
    font-size: x-large;
    text-align: center;
}

#search-bar{
    font-size: large;
}

#data-section{
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
    position: fixed
    bottom: 0;
}